* {
  --container-width: 700px;
}

.grid {
  box-sizing: border-box;
  border: .5px solid rgba(0, 0, 0, 0.1);
  width: var(--grid-size-percentage);
  background-color: white;
}

#container {
  margin: 1rem auto;
  border: 2.5rem solid blue;
  border-radius: 1rem;
  width: var(--container-width);
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
